<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 24.1\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*.*" />
    </packageSource>
    <packageSource key="devextreme-controls-netcore">
      <package pattern="*.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>






