@page
@using IdsServer.Database.Models


@{
    ViewData["Title"] = "Baskets";
}

<h2>@ViewData["Title"]</h2>


@(Html.DevExtreme().DataGrid<Basket>()
    .DataSource(ds => ds.Mvc()
        .Controller("Baskets")
        .LoadAction("Get")
        .DeleteAction("Delete") 
        .Key("Id")
    )
    .RepaintChangesOnly(true) 
    .Scrolling(x => x.Mode(GridScrollingMode.Virtual)) 
    .RemoteOperations(true)
    .Selection(s => s.Mode(SelectionMode.Single))
    .HoverStateEnabled(true)
    .Editing(editing =>
    {
        editing.RefreshMode(GridEditRefreshMode.Reshape);
        editing.Mode(GridEditMode.Row); 
        editing.AllowDeleting(true);
        editing.UseIcons(true);
    })
    .Columns(columns =>
    {
        columns.AddFor(x => x.RawBasket.Order.OrderInfo.PartNo).Caption("Reference");
        columns.AddFor(x => x.RawBasket.WarenkorbInfo.Date).Caption("Date").Format("dd.MM.yyyy");
        columns.AddFor(x => x.RawBasket.WarenkorbInfo.Time)
                    .Format("HH:mm:ss")
                    .DataType(GridColumnDataType.DateTime)
                    .Caption("Time")
                    .EditorOptions(new { type = "time", displayFormat = "HH:mm:ss", calendarOptions = new { visible = false } });
        columns.Add()
            .Type(GridCommandColumnType.Buttons)
                
            .Buttons(b =>
            {
                b.Add()
                    .CssClass("dcm-button")
                    .Icon("fa-regular fa-eye")
                    .Hint("Show basket details")
                    .OnClick("onShowBucketDetails");

                b.Add().Name(GridColumnButtonName.Delete);
               
            }); 
    })
    .Paging(paging => paging.PageSize(10))
    .FilterRow(filterRow => filterRow.Visible(true))
)



<script>

    function onShowBucketDetails (event) {
        const basketId = event.row.data.Id;
        window.location.href = "/BasketDetails/" + basketId;
        // e.event.preventDefault();
    }

</script>