@page
@using IdsServer.Models

<div class="card">
    <img src="https://placehold.co/600x100?text=IDS+Server" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">IDS Server</h5>
        <p class="card-text">IDS stands for Integrated Data Interface. IDS Connect provides a standardization that enables the software systems of the trade to connect to the store systems of wholesalers.

        </p>
        <p>
            Using the IDS interface, tradespeople can exchange shopping baskets they have created with the wholesale store. The item deep link function also allows him to view current prices and the availability of items directly. The interface was defined between the BVBS and DG Haustechnik associations and is now being continuously developed by these associations and the Zentralverband Sanitär Heizung Klima (ZVSHK).
        </p>
      @*   <a href="https://www.itek.de/glossar/detailseite/begriff/ids-connect/" class="btn btn-primary">Itek</a> *@
    </div>
</div>



