<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\IdsServer.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
	  <handlerSettings>
          <handlerSetting name="debugFile" value=".\logs\EnhancedAspnet-debug.log" />
          <handlerSetting name="debugLevel" value="FILE,TRACE" />
        </handlerSettings>
      </aspNetCore>
	  <rewrite>
				<rules>
					<rule name="Umleitung Wartungs Seite" enabled="false" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{REQUEST_URI}" pattern="maintenance" negate="true" />
						</conditions>
						<action type="Redirect" url="http://wartung.datacrossmedia.de/maintenance.html" appendQueryString="false" redirectType="Temporary" />
					</rule>
				</rules>
			</rewrite>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: e07ec751-8e5c-4f16-b483-36bba0b034fc-->